@use "styles/variables.scss" as v;
@use "styles/mixins.scss" as m;

.Wishlist-page {
  margin: v.$margin-10 v.$margin-5;
  &__list {
    @include m.flex(row, flex-start, stretch, wrap);
    & > * {
      flex-basis: 25%;
    }
  }

  &__empty {
    @include m.flex();
    font-size: 40px;
  }
}