@use "styles/colors.scss" as c;
@use "styles/variables.scss" as v;
@use "styles/mixins.scss" as m;

.characters-page {
  margin: v.$margin-10 v.$margin-5;
  &__list {
    @include m.flex(row, center, stretch, wrap);
    & > * {
      flex-basis: 25%;
    }
  }

  &__pagination {
    background-color: c.$white;
    padding: v.$padding-9 0;
    @include m.flex();
    border-radius: v.$border-radius-5;
  }
}