@use "styles/colors.scss" as c;
@use "styles/variables.scss" as v;
@use "styles/mixins.scss" as m;

.character-page {
  padding: v.$padding-7;
  &__detail {
    @include m.flex(row, space-between, stretch);
    gap: v.$margin-5;
    max-height: 500px;

    & > * {
      flex-grow: 1;
      flex-basis: 50%;
    }

    &__img {
      background-color: c.$white;
      border-radius: 5px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
      }
    }

    &__info {
      .heading {
        font-size: 24px;
        text-align: center;
        border-bottom: 1px solid;
        margin: v.$margin-2 0;
      }

      .content {
        @include m.flex(row, flex-start, center);
        gap: 5px;
        &__name {
          font-weight: bold;
        }
      }
    }
  }

  &__episodes {
    margin-top: v.$margin-7;
    .heading {
      font-size: 24px;
      text-align: center;
      border-bottom: 1px solid;
      margin: v.$margin-2 0;
    }
  }
}